/* Scss Document */
@charset "utf-8";
/* CSS Document */
*, *::before, *::after {
    box-sizing: border-box;
}
html,body, .wrapper{height:100%; font-family: 'Open Sans', sans-serif;}
body{
	
	}
.wrapper{padding-left:70px; padding-right:70px; position:relative;}
.home-intro{height:calc(100% - 140px); background:#e2e2e2}
header,footer{height:70px;}
footer{
	padding-top:30px;
	text-transform:uppercase;
}

.social-link{
	padding-right:15px;
	li{
		list-style:none;
		text-align:right;
		font-size:20px;
		color:#007bb5;
	}	
}
.site-nav{
	z-index:999;
	.navbar-brand{padding-left:0px; margin-top:3px}
	.navbar-collapse{
		.navbar-nav{
			margin-top:4px;
			li{
				margin-top:5px;
				a{
					color:#272b2d; 
					text-transform:uppercase;
					font-size:14px;
					
					&:hover, &:focus{
						background:none;
						color:#0987C5;
					}
				}
				
				&:last-child {
					a{padding-right:0px}
					}
			}
		}
	}	
}

.home-wrapper{
	background:url(../images/waves.gif) no-repeat bottom #e2e2e2; 
	height:calc(100%); 
	display:flex; 
	align-items:center;
	
	.caption-content2{
		margin: -15px auto 0px;
		text-align:center;
		width:calc(100% - 100px);
		h1 {
			font-size: 60px;
			font-weight: bold;
			color: #fff;
		}
		.supline{
			color:#272b2d; 
			font-size:32px; 
			font-family: 'Open Sans', sans-serif; 
			font-weight:200;			
		}
		.tagline{
			color:#272b2d; 
			font-size:20px; 
			font-family: 'Open Sans', sans-serif; 
			font-weight:200;			
		}
		.name{
			font-family: 'Oswald', sans-serif; 
			color:#272a2d; 
			font-size:76px; 
			text-transform:uppercase; 
			font-weight:400; 
			margin-bottom:30px; 
			position:relative;
			
			&:after{    
				height: 5px;
				width: 100px;
				background: #0561a2;
				margin: 0px auto;
				content: '';
				position: absolute;
				bottom: -20px;
				left: 0px;
				right: 0px;
			}
		}
	}
}


/******************************************************************************************
					MEDIA QUERY LAYOUT STRUCTURE
				
@media (max-width: 767px) {XS DEVICE- EXTRA small:  for Mobile and Tablet}				
@media (min-width: 768px) and (max-width: 991px) {SMALL DEVICE- iPad Protlat and old Desktop view}
@media (min-width: 992px) and (max-width: 1199px) {MEDIUM DEVICE- iPad Landscap and large Desktop view}
@media (min-width: 1200px) {LARGE DEVICE- Projector EXTRA large Desktop view}
				
/******************************************************************************************/

@media (max-width: 767px) {
	.wrapper{
		padding-left:15px;
		padding-right:15px;
	}
	.home-wrapper .caption-content2{ width: calc(100% - 10px);}
	.navbar-header{
		.navbar-toggle{
			margin-top:17px;
			border:1px solid #ccc;
			.icon-bar{
				background:#333;
			}
		}
	}
	.navbar-collapse{
		background:#fff;
	}
	.home-wrapper .caption-content2 {
		.supline{
			font-size:26px;
		}
		.name{
			font-size:32px;
		}
		.tagline{font-size:14px;}
	}
	footer{
		font-size:11px;
		padding-top:26px;
	}
	
	
}				
@media (min-width: 768px) and (max-width: 991px) {
}


